/*Moving watermark background*/
.moving-background {
	-webkit-transform: translateZ(0); //For mobile anim speed
	animation: animatedBackground 32s linear infinite;
}

@keyframes animatedBackground {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 512px 0;
	}
}

@keyframes fadein {
	0% { opacity: 0.9 }
	100% { opacity: 1 }
  }
  
  @keyframes fadeout {
	0% { opacity: 1 }
	100% { opacity: 0.9 }
  }